<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.humblecoder.pyp" > <!-- targetSdkVersion set to 19 from build.gradle on non-L-preview builds -->
    <uses-sdk tools:node="replace" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.humblecoder.pyp.PYPApplication"
        android:allowBackup="true"
        android:icon="@drawable/application_main_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.humblecoder.pyp.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.humblecoder.pyp.CreateNewAccountActivity"
            android:label="@string/title_activity_create_new_account"
            android:parentActivityName="com.humblecoder.pyp.LoginActivity" >
        </activity>
        <activity
            android:name="com.humblecoder.pyp.CourseListActivity"
            android:label="@string/title_activity_course_list" >
        </activity>
        <activity
            android:name="com.humblecoder.pyp.SemesterListActivity"
            android:label="@string/title_activity_semester_list"
            android:parentActivityName="com.humblecoder.pyp.CourseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humblecoder.pyp.CourseListActivity" />
        </activity>
        <activity
            android:name="com.humblecoder.pyp.QuestionListActivity"
            android:label="@string/title_activity_question_list"
            android:parentActivityName="com.humblecoder.pyp.SemesterListActivity" >
        </activity>
        <activity
            android:name="com.humblecoder.pyp.AnswerListActivity"
            android:label="@string/title_activity_answer_list"
            android:parentActivityName="com.humblecoder.pyp.QuestionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humblecoder.pyp.QuestionListActivity" />
        </activity>
        <activity
            android:name="com.humblecoder.pyp.PhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_photo"
            android:parentActivityName="com.humblecoder.pyp.AnswerListActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humblecoder.pyp.AnswerListActivity" />
        </activity>
        <activity
            android:name="com.humblecoder.pyp.SubmitAnswerActivity"
            android:label="@string/title_activity_submit_answer" >
        </activity>
        <activity
            android:name="com.humblecoder.pyp.CommentListActivity"
            android:label="@string/title_activity_comment_list" >
        </activity>
        <activity
            android:name="com.humblecoder.pyp.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.humblecoder.pyp.CourseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humblecoder.pyp.CourseListActivity" />
        </activity>
    </application>

</manifest>
